/**
 * Sane defaults
 */
*, *::before, *::after {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
}

/* Style host separately otherwise whole rule
   ignored by unsupported browsers */
:host {
  display: block;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
}


audio, canvas, img, video {
  vertical-align: middle;
}

/* Shim inconsistent browser hidden property */
*[hidden] {
	display: none !important;
}
